
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">   
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="stylesheet" 
href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"></style>
<script type="text/javascript" 
src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" 
src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<div class="container">

<table id="myTable">  
        <thead>  
          <tr>  
            <th>Sl No</th>  
            <th>Product Name</th>  
            <th>Lowest Price</th>  
            <th>Variation & Stock</th> 
            <th>Last Updated</th> 
          </tr>  
        </thead>  
{% for prod in allproducts %}
        <tbody>  
          <tr>  
            <td>{{prod.SlNo}}</td>
            <td>{{prod.ProductName}}</td>  
            <td>{{prod.ProductLowestPrice}}</td>   
            <td>
            <table>
            <thead>
            <tr>
            <th> Variation </th>
            <th> Stock </th>
            </tr>
            </thead>
            <tbody>
            <tr>
            <td>
            {{prod.VariationText}}
            </td>
            <td>
            {{prod.Stock}}
            </td>
            </tr>       
        </tbody>        
      </table>
      </td>
      <td>{{prod.LastUpdated}}</td>
      </tbody>
      </tr>
{% endfor %}
      </table>

 
<script>
$(document).ready(function(){
    $('#myTable').dataTable();
});
</script>
</div>